/*!
 * Theme Name: Default
 * Package : DashLite
 * Author: Softnio
 * Author URI: http://themeforest.net/user/softnio
 * Version	 :	1.0.0
 * Updated	 :	07.23.2020
**/
label span {
  color: #DE350B;
}

.parsley-required {
  color: #DE350B;
  font-size: 12px;
  margin-top: 5px;
}

.form-label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
