/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Mulish', sans-serif;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


ul,li{
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {

    line-height: 1.6;
    font-weight: 700;
}

section{
    padding: 60px 0;
}


label{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: #0a1625;
}

h4{
    font-size: 20px;
}




.headline{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.subline{
    color: #fff;
    font-size: 1rem;
    line-height: 150%;
}

h2 span{
    font-size: 16px;
}

.businessCard{
    padding: 20px 30px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
#companiesWrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 .5rem;
}
#companiesWrap .company_item {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding: 2rem 2.3rem;
    background-color: #fff;
    transition: box-shadow .2s linear;
    cursor: pointer;
}

#companiesWrap .company_item .company_logo {
    width: 4.3rem;
    height: 4.3rem;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

#companiesWrap .company_item:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 4rem 0.5rem rgb(0 0 0 / 8%);
    border-radius: 2px;
    z-index: 2;
    margin: -1px 0 0 -1px;
}

.SubscribeNow{
    padding: 20px 30px;
    margin-bottom: 10px;
    background: #292b3d;
    color: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.SubscribeNow h4{
    color: #fff;
}




.popular_categories{
    font-size: 12px;

}

.popular_categories ul{

}

.popular_categories ul li{
    float: left;
    margin: 0 10px 10px 0;
    display: block;

}

.popular_categories ul li a{
    display: block;
    font-weight: 400;
    color: #666;
    font-size: 13px;
    border: #ededed solid 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
}

.popular_categories ul li a:hover {
    background: #ededed;
}


.sponsored-ad{}

.sponsored-ad h6{
    font-size: 9px;
}

.heroBg{
    justify-content: center;
    padding-top: 80px ;
    padding-bottom: 80px ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.policy-content p{
    font-size: 14px;
    margin-bottom: 5px;
}

.policy-content li{
   list-style-type: circle;
    padding: initial !important;

}
.policy-content ol, ul{
    padding-left: 2.5rem;


}


footer{
    border-top: 1px solid #e7e7e7;
    background: #f6f7ff;
    color: #1e223c;
    padding: 60px 0;
    line-height: 1.5em;
    font-size: 14px;
}

footer a{
    color: #1e223c;
}

footer ul{
    padding: 0;
    margin: 0;
}


footer li{
    margin-bottom: 5px !important;
}

.copy-right{
    font-size: 10px;
}
footer h5{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    margin: 0px 0px 1.2rem;
}
.footer-info{
    font-size: 12px;
}

